* {
    margin: 0;
    box-sizing: border-box;
}

#content {
    width: 75%;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

body {
    font-size: 1rem;

    font-family: 'Shadows Into Light', cursive;
    background-color: lightpink;
    color: rgb(97, 42, 3);

}

h1 {
    display: inline-block;
    font-size: 3em;
    color: rgb(98, 114, 255);
    border-bottom: .25rem dashed rgb(97, 42, 3);
    margin-bottom: 0;
    padding-bottom: .5rem;
}

h3 {
    padding-bottom: 1rem;
}

h4 {

    font-size: 1.5em;
    text-align: left;
    padding: .5rem;

}


main {

    background-color: lightpink;
    color: rgb(97, 42, 3);

}

p {
    padding: .5rem;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: .5rem;
}

section article {
    text-align: left;
}

section article p {
    font-size: 1.25rem;
}

.test {
    background-color: rgb(82, 223, 82);
    color: whitesmoke;

}

.test2 {
    background-color: rgb(98, 114, 255);
    color: whitesmoke;
}

.titleshadow {
    text-shadow: .2rem .2rem .4rem rgb(97, 42, 3);
    letter-spacing: .15rem;
}