#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5rem;
}

body {
    width: 75%;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    background-color: lightpink;
    color: rgb(97, 42, 3);
    margin: auto;
}

h2 {

    font-size: 2em;
    color: rgb(98, 114, 255);
}


main {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 80%;
}

#audioDiv,
#videoDiv {
    margin: auto;
    text-align: center;
}

video {
    border: .25rem solid whitesmoke;
    box-shadow: .25rem .25rem .25rem rgb(97, 42, 3);
}

footer {
    font-size: 1rem;
}

#ogDrawing {
    display: none;
}