
* { margin: 0; box-sizing: border-box; } 
#content{
    width:75%;
    margin: 0 auto;  
    }
body { 
    font-size: 1.25rem; 
    line-height: 32px;
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    background-color: lightpink;
    color:  rgb(97, 42, 3);
}
button {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.25rem;
    background-color:rgb(98, 114, 255);
    color: whitesmoke; 
}
.displays {
    background-color:rgb(97, 42, 3);
    color: lightpink; 
    width: 25%;
    border: 2px dashed rgb(98, 114, 255);
}
h2 {
padding: 1rem;
    font-size: 2em;
}


