body {
    width: 75%;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    background-color: lightpink;
    color: #612A03;
    margin: auto;
    text-align: center;
}

h2 {

    font-size: 4em;
    color: #6272FF;
}


main {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 80%;
}

#content {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#circleDelay {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;

    padding: 10px;
    background-color: #612A03;
}

#reddot {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 160px;
    left: 210px;
    background-color: #B40C0C;
    border-radius: 50px;
    transition: all 2s ease-in-out;
}

#blueDot1,
#blueDot2,
#blueDot3,
#blueDot4,
#blueDot5,
#blueDot6,
#blueDot7,
#blueDot8 {
    width: 20px;
    height: 20px;

    border-radius: 10px;
    position: absolute;
    top: 200px;
    left: 250px;
    background-color: #6272FF;

    transition: all 2s ease-in-out;

    transform: translate3d(0, 0, 0);
}

#blueDot1 {

    transition-delay: 0.8s;
}

#blueDot2 {

    transition-delay: 0.7s;
}

#blueDot3 {

    transition-delay: 0.6s;
}

#blueDot4 {

    transition-delay: 0.5s;
}

#blueDot5 {

    transition-delay: 0.4s;
}

#blueDot6 {

    transition-delay: 0.3s;
}

#blueDot7 {

    transition-delay: 0.2s;
}

#blueDot8 {

    transition-delay: 0.1s;
}

#circleDelay:hover #reddot {
    opacity: .5;
}

#circleDelay:hover #blueDot1,
#circleDelay.hover_effect #blueDot1 {

    transform: translate(-250px, -200px);
}

#circleDelay:hover #blueDot2,
#circleDelay.hover_effect #blueDot2 {

    transform: translate(0, -200px);
}

#circleDelay:hover #blueDot3,
#circleDelay.hover_effect #blueDot3 {

    transform: translate(250px, -200px);
}

#circleDelay:hover #blueDot4,
#circleDelay.hover_effect #blueDot4 {

    transform: translate(250px, 0);
}

#circleDelay:hover #blueDot5,
#circleDelay.hover_effect #blueDot5 {

    transform: translate(250px, 200px);
}

#circleDelay:hover #blueDot6,
#circleDelay.hover_effect #blueDot6 {

    transform: translate(0, 200px);
}

#circleDelay:hover #blueDot7,
#circleDelay.hover_effect #blueDot7 {

    transform: translate(-250px, 200px);
}

#circleDelay:hover #blueDot8,
#circleDelay.hover_effect #blueDot8 {

    transform: translate(-250px, 0);
}

#timingEx {
    position: relative;
    width: 30.5rem;
    height: 32.5rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: whitesmoke;
    margin-bottom: 2rem;
    border: .5rem groove #B40C0C;
}

.moveIt {
    font-size: 1rem;
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-bottom: .5rem;
    background-color: lightpink;
    line-height: 1rem;
}

#ease.moveIt {
    transition: all 4s ease;
    border: .1rem #B40C0C solid;
}

#easein.moveIt {
    transition: all 4s ease-in;
    border: .1rem #6272FF solid;
}

#easeout.moveIt {
    transition: all 4s ease-out;
    border: .1rem #6272FF solid;
}

#easeinout.moveIt {
    transition: all 4s ease-in-out;
    border: .1rem #B40C0C solid;
}

#linear.moveIt {
    transition: all 4s linear;
    border: .1rem #612A03 solid;
}

#custom.moveIt {
    transition: all 4s cubic-bezier(1.000, 0.835, 0.000, 0.945);
    border: .1rem #612A03 dashed;
}

#negative.moveIt {
    transition: all 4s cubic-bezier(1.000, -0.530, 0.405, 1.425);
    border: .1rem #6272FF dashed;
}

#timingEx:hover .moveIt,
#timingEx.hover_effect .moveIt {
    border-radius: 50%;
    transform: rotate(720deg);
    margin-left: 26.5rem;
    background-color: whitesmoke;
}