
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 1.25rem; 
    line-height: 32px;
    text-align: left;
    font-family: 'Shadows Into Light', cursive;
    background-color: lightpink;
    color:  rgb(97, 42, 3);
}
button {
    font-size: 1rem;
    background-color:rgb(97, 42, 3);
    color: lightpink; 
}
.displays {
    background-color:rgb(97, 42, 3);
    color: lightpink; 
    width: 25%;
}
h1 {
    padding: 1rem;
    padding-left: 0rem;
    font-size: 4em;
    color: rgb(98, 114, 255);
}

h2 {

    font-size: 2em;
    
    padding: .5rem;
    padding-bottom: 1rem;

}

