body {
    width: 75%;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    background-color: lightpink;
    color: #612A03;
    margin: auto;
}

h2 {

    font-size: 2em;
    color: #6272FF;
}


main {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 80%;
}

#canvasDiv,
#audioDiv,
#videoDiv {
    margin: auto;
    text-align: center;
}

#videoDiv {
    padding-bottom: 2rem;
}

video {
    border: .25rem solid whitesmoke;
    box-shadow: .25rem .25rem .25rem rgb(97, 42, 3);

}

#ogDrawing {
    display: none;
}

#audioDiv {
    border-top: .25rem ridge #612A03;
    border-bottom: .25rem ridge #612A03;
    padding-top: 0;
    margin-top: 1rem;
    padding-bottom: 2rem;
}

#canvas {
    border: .5rem solid rgb(97, 42, 3);
    background-color: rgba(98, 114, 255, .75);

}